@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* CSS Variables */

/* ******************************************************** */
/* index.html */

:root{
    --nav-link-primary-colour: #030829;
    --nav-link-hover-colour:  #268908;
}

#main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav-bar {
    flex: 1;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#nav-bar li {
    font-family: 'Italianno', cursive;
    font-size: 24pt;
    padding-left: 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--nav-link-primary-colour);
}

.nav-link:hover {
    color: var(--nav-link-hover-colour)
}

#main-footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

#main-footer{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#opening-times{
    text-align: center;
}

#description-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#social-links img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.text-jim{
    font-family: "Jim Nightshade", cursive;
}

.mb-2{
    margin-bottom: 2vh;
}

.text-center{
    text-align: center;
}

ul{
    list-style: none;
}

/* ******************************************************** */
/* menu.html */